#diseño {
    background-color: #e1ffd0;
    /* width: 90%; */
    height: 100%;
    border-radius: 10px;
    margin-left: 17%;
    margin-right: 17%;
    border-color: #000;
}

#diseño li {
    list-style: none;
    display: inline-block;
    text-align: center;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-color: #000;
}

.rectangulo {
    display: flex;
    /* background-color: burlywood; */
    justify-content: space-between;
    align-items: baseline;
}

.rectangulo div {
    /* background-color: #8c8c8ceb; */
    width: 15%;
    margin: 2%;
    text-align: center;

}

.rectanguloVEmergentes {
    display: inline-block;
    /* background-color: burlywood; */
    /* justify-content: space-between;
    align-items: baseline; */
    width: 50%;
    font-weight: bold;
}

.rectanguloVEmergentes div {
    /* background-color: #8c8c8ceb; */
    width: 80%;
    margin: 2%;
    text-align: center;

}

.cajas6 {

    width: 80%;
    margin: 10px;
    /* text-align: center;  */
    font-weight: bold;  

}


.fechayFinca {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
}


.cardPersonal {
    /* border: 1px solid; */
    border-radius: 20px;
    margin: 0;
    padding: 2%;
    width: 100%;
    display: flex;

}

.cardPersonal .hijos {
    width: 50%;
    font-style: oblique;
}

/* .cardPersonal .hijos select{
    margin: 2%;
} */

.cardHeaderPersonal {

    background-color: rgba(143, 133, 133, 0.318);
    border-radius: 10px;
    text-align: center;
    margin: 1%;
    padding: 1%;
    font-weight: bold;
}

#iconosBarra {
    font-size: 1.5em;
    align-self: center;
    margin: 0 8px;
}

#diseño li:hover {
    background-color: rgb(155, 245, 166);
    color: #000;
    border-radius: 10px;

}

.rediseño {

    color: #000;
    font-weight: bold;
}

.rediseño .bordear {
    border-bottom: solid 1px #000;
    /* border-top: solid 1px gray; */
    border-radius: 10px;

}

#iconos {
    width: 2em;

}

#iconosEdit {
    width: 1em;
    font-size: large;
    /* filter: invert(99%) sepia(1%) saturate(3149%) hue-rotate(294deg) brightness(112%) contrast(100%); */

}

#iconosEditTrash {
    width: 1em;
    font-size: large;
    filter: invert(99%) sepia(1%) saturate(3149%) hue-rotate(294deg) brightness(112%) contrast(100%);

}



.bg-lightNew {
    --bs-bg-opacity: 1;
    background-color: #e1ffd091;
    border-radius: 20px;
}

.bg-lightNew:hover {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
}

#rediseñoBarra:hover {
    background-color: rgb(155, 245, 166);
    ;
    color: #000;
    border-radius: 10px;
}

.centrarDiv {

    margin-left: 25%;
    text-align: center;


}

.divAjustable {

    min-width: 70%;


}