/* .correcto{
    
    background-color: transparent;
    padding: 10px 30px 9px 22px;
    border: 2px solid #00ff00;
    
    
}
.error{
    
    background-color: transparent;
    padding: 10px 30px 9px 22px;
    border: 2px solid #ff0000;
    
    
} */

