.btnpersonal:hover{
    background-color: rgb(14, 157, 219);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;

}
/* .btnActions{

    background-color: rgb(246, 178, 18);
    border-radius: 50px;
    
} */
/* .btnActions:hover{
    background-color:orange;
    border-radius: 50px;
} */